* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Patua One", serif;
  font-style: normal;
  background-color: #131b31;
  color: white;
}
h1 {
  display: inline-block;
}
button {
  width: 9rem;
  height: 3rem;
  border-radius: 999px;
  border: 0px solid;
  background-color: rgb(124 58 237);
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.bungee {
  font-family: "Bungee", serif;
  font-style: normal;
  font-size: xx-large;
  color: rgb(124 58 237);
}
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #041723;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.navigation div {
  margin-inline: 5%;
}
.navigation img {
  width: 5rem;
  height: auto;
}
ul {
  display: flex;
  gap: 50px;
}
ul li {
  font-family: "Bungee", serif;
  font-style: normal;
  list-style-type: none;
  font-weight: bold;
  font-size: 150%;
}
#home {
  position: relative;
  margin: auto;
  height: 820px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  z-index: -1;
}
.welcome-img {
  position: absolute;
  z-index: -1;
  top: -100px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.welcome {
  display: inline-block;
  /* background-color: grey; */
  margin: auto;
  text-align: center;
  line-height: 3em;
  position: absolute;
  z-index: -1;
  margin-top: 28%;
}
.welcome-img img {
  width: 100%;
  height: auto;
  /* margin: auto; */
}
#about,
#skills,
#achieve {
  padding: 6rem;
  /* background-color: green; */
}
.about {
  display: flex;
  height: 500px;
  /* background-color: green; */
  align-items: center;
  gap: 150px;
}
.text-about {
  flex: 1;
  display: flex;
  justify-content: end;
}
.text-about p {
  width: 60%;
  font-size: 1.3em;
  text-align: justify;
}
.container-card {
  flex: 1;
  color: black;
}
.card {
  margin-left: 50px;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(229, 231, 235);
}
.foto {
  width: 100%;
  height: 60%;
  /* background-color: black; */
}
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.profile a {
  width: 150px;
  height: 35px;
  background-color: #131b31;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
}
.achieve {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.achieve h1 {
  cursor: pointer;
}
.off {
  -webkit-text-fill-color: #131b31;
  -webkit-text-stroke: 1px white;
}
.hidden {
  display: none !important;
}
#achieve {
  /* background-color: antiquewhite; */
  height: 630px;
}
.container-projects {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 2em;
  justify-content: center;
}
.wrap-project-img {
  width: 300px;
  height: 250px;
  border: 2px solid;
  border-color: rgb(124 58 237);
  overflow: hidden;
  border-radius: 10px;
}
.wrap-project-img img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.container-experiences {
  margin: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
p {
  text-align: justify;
}
.experience {
  width: 500px;
  height: 3em;
  border-radius: 10px;
  background-color: aliceblue;
  cursor: pointer;
  color: rgb(124 58 237);
}
.open {
  height: auto;
}
.company {
  line-height: 3em;
}
.content-exp p {
  margin: 1em 1em 1em 1em;
}
#contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.inner-form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: start;
  width: 500px;
}
input,
textarea {
  border-radius: 3px;
  border: 0 white;
  padding: 0.5rem;
  width: 100%;
}
textarea {
  height: 150px;
}
#footer {
  height: 70px;
  background-color: #041723;
  margin-top: 70px;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  margin-inline: 50px;
  line-height: 70px;
}
.socmed {
  display: flex;
  gap: 20px;
}
.iconwrap {
  /* background-color: aqua; */
  width: 101px;
  height: 84px;
  display: flex;
  justify-content: center;
}

/* *,
  *::before,
  *::after {
    box-sizing: border-box;
  } */

.wrapper {
  margin-top: 2rem;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

@keyframes scrollRight {
  to {
    right: -101px;
  }
}
.itemRight {
  width: 101px;
  height: 84px;
  /* background-color: #e11d48; */
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.itemRight {
  right: max(calc(101px * 8), calc(100% + 101px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 10 * (10 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 10 * (10 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 10 * (10 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 10 * (10 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 10 * (10 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 10 * (10 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 10 * (10 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 10 * (10 - 8) * -1);
}
.item9 {
  animation-delay: calc(30s / 10 * (10 - 9) * -1);
}
.item10 {
  animation-delay: calc(30s / 10 * (10 - 10) * -1);
}
